
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header2 :: common-header" />

<body>
	<div th:replace="common/header2 :: navbar" />
	<div class="container-fluid">
		<div class="table-responsive">
			<table id="productListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
					
						<th>accountId</th>
						<th>memberId</th>
						<th>username</th>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>balance</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="account : ${userAccountWrapperList}">
						
						<td><a th:href="@{/transaction/accountInfo(id=${account.accountId})}"><span th:text="${account.accountId}"></span></a></td>
						<td><a th:href="@{/member/memberInfo(id=${account.userId})}"><span th:text="${account.userId}"></span></a></td>
						<td th:text="${account.username}"></td>
						<td th:text="${account.firstName}"></td>
						<td th:text="${account.lastName}"></td>
						<td th:text="${account.balance}"></td>
						
						
					</tr>
				</tbody>
			</table>
	</div> <!-- <div class="jumbotron">
        <form method="POST" th:action="@{/accountInfo"}">
        
	<button type="submit" class="btn btn-primary btn-lg">Click to share the money(earnings)</button>
	</form>
	<a th:href="@{/transaction/accountInfo(id=${account.userId})}"><span >click here to share the profits</span></a>
	</div> -->
	<div class="jumbotron">
        
	<a th:href="@{/transaction/sendEarnings}"><span >click here to share the profits</span></a>
	</div> 
	
	</div>
	<div th:replace="common/header2 :: body-bottom-scripts"></div> 
	
	<script>
	
		/* $(document).ready(function() {
			
			$("#productListTable").DataTable({
				
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
				
			});
		});
	 */
		
	 $(document).ready(function(){    
		   var table= $('#productListTable').DataTable({
			   "lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
		       
		    });
		  
		   
		    
		    
		    
		    
		    
		});
		
		
		</script>
	
</body>
</html>
