
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header2 :: common-header" />

<body>
	<div th:replace="common/header2 :: navbar" />
<div id="success" >

</div>



<script th:inline="javascript">

var message = [[${insertSuccess}]];
if(message==null ||message==false){
	document.getElementById("success").innerHTML = " ";
	
}
if(message!=null ){
	if(message==true){
	document.getElementById("success").innerHTML = "<h1>product added </h1>";
	}
}


</script>

	<div class="container" th:with="someVariable=${someValue}">
		<div class="row">
			<form class="form-horizontal" th:action="@{/product/add}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						New Product Information<span style="font-size: small"> * is a
							required field</span>
					</legend>


						<input hidden="hidden" name="id" th:value="${product.id}" />


					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">*Name</label>

						<div class="col-md-8">
							<input type="text" name="name" class="form-control" id="name"
								th:value="${product.name}" required="required" placeholder="name" />
							<span class="help-block">Name of the product</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="madeIn">*
							Country of origin</label>
						<div class="col-md-8">
							<input type="text" name="madeIn" class="form-control" id="madeIn"
								th:value="${product.madeIn}" required="required"
								placeholder="madeIn" /> <span class="help-block">country of origin of the product</span>
						</div>
					</div>

<button   type="button" onclick="myFunction()">Create new category</button>

<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Category</label>
						<div class="row">

					<div class="col-md-8" id="hi">
							<select th:value="${type}" id="type" name="type"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an category...</option>
								<option th:each="prod : ${categoryList}" th:value="${prod.type}" th:text="${prod.type}"
									th:selected="(${type}=='${prod.type}'  )"></option></select>
						</div>
						</div>
						
				<div class="row" id="hi2">
					
						<label class="col-md-2 control-label" >add new category
							</label>
						<div class="col-md-8">
						<input type="text" name="type" class="form-control " id="type"
								th:value="${type}"
								placeholder="type" />	
					</div>		
						</div>
						</div>
					
					<script>
function myFunction() {
	document.getElementById("hi2").style.visibility = 'visible';
	document.getElementById("hi").style.visibility = 'hidden';
 // 	document.getElementById("hi").remove();
  

// document.getElementById("new").innerHTML = "Hello World";
//var new2=document.getElementById("new").innerText;

//alert(new2);
}
</script>
					
					
					
					<!-- 
					
						
					
					
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Category</label>
						<div class="col-md-8">
							<select th:value="${type}" id="category" name="category"
								class="form-control">
					<option th:each="prod : ${categoryList}" value="prod.type" th:text="${prod.type}"
									th:selected="(${type}==${prod.type}  )"></option>
									<option value="Fruits"
									th:selected="(${type}=='Fruits')">Fruits</option>
								
							</select>
						</div>
					</div>
category -->
					
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">Number of products in stock</label>

						<div class="col-md-8">
							<input type="number" name="inStockNumber" class="form-control"
								id="inStockNumber" th:value="${product.inStockNumber}" min="0"
								placeholder="stock" /> <span class="help-block">Number
								of products</span>
						</div>
					</div>


					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">List
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon"> &euro;</span> <input
									th:value="${product.listPrice}" type="number" min="0" name="listPrice" step="0.01"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block">List price product</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Our
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">&euro;</span> <input
									th:value="${product.ourPrice}" type="number" min="0" name="ourPrice" step="0.01"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Our price of the book</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">priceBought</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">&euro;</span> <input
									th:value="${product.priceBought}" type="number" min="0" name="priceBought" step="0.01"
									class="form-control" id="priceBought" placeholder="priceBought" />
							</div>
							<span class="help-block">priceBought of the book</span>
						</div>
					</div>



					<!-- status of book -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								th:checked="${product.active}" /> Active </label> <label><input
								value="false" type="radio" name="active" th:checked="${!product.active}"/>
								Inactive </label> <span class="help-block">Whether the product is
								active or inactive</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Description</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${product.description}" 
								placeholder="Description" ></textarea>
							<span class="help-block">Description of the product</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="productImage">Upload product image</label>
						</div>
						<div class="col-md-8">
							<input id="productImage" type="file" name="productImage"
								th:value="${product.productImage}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">add product</button>
							<a class="btn btn-danger" th:href="@{/product/home}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header2 :: body-bottom-scripts" />
<script >

$(document).ready(function(){
	document.getElementById("hi2").style.visibility = 'hidden';
	   
	var delayInMilliseconds = 3000; //1 second

	setTimeout(function() {
		$("#success").remove();
	  //your code to be executed after 1 second
	}, delayInMilliseconds);});

</script>

</body>
</html>
