
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header2 :: common-header" />

<body>
	<div th:replace="common/header2 :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/product/add}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						New Product Information<span style="font-size: small"> * is a
							required field</span>
					</legend>


					<!-- Product Name -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="name">* Name</label>

						<div class="col-md-8">
							<input type="text" name="name" class="form-control" id="name"
								th:value="${product.name}" required="required" placeholder="name" />
							<span class="help-block">Name of the product</span>
						</div>
					</div>

					<!-- Stock -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumbers">Remaining Stock</label>
						<div class="col-md-8">
							<input type="text" name="inStockNumbers" class="form-control"
								id="inStockNumbers" th:value="${product.inStockNumber}"
								placeholder="Stock" /> <span class="help-block">remaining amount of the product</span>
						</div>
					</div>

					<!-- Made In -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="madeIn">Made In</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="madeIn"
								name="madeIn" th:value="${product.madeIn}"
								placeholder="Made In" /> <span class="help-block">Location of origin</span>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="type">*
							Category</label>
						<div class="col-md-8">
							<select th:value="${type}" id="type" name="type"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="Fruits"
									th:selected="(${type}=='Fruits')">Fruits</option>
								<option value="Vegetables"
									th:selected="(${type}=='Vegetables')">Vegetables</option>
								<option value="Milk"
									th:selected="(${type}=='Milk')">Milk</option>
							</select>
						</div>
					</div>

					<!-- price bought -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="priceBought">Buying Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${product.priceBought}" type="number" name="priceBought" step="0.01"
									class="form-control" id="priceBought" placeholder="Price Bought" />
							</div>
							<span class="help-block">Current buying price from members</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">List
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${product.listPrice}" type="number" name="listPrice" step="0.01"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block">List price of the product</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice">Our
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${product.ourPrice}" type="number" name="ourPrice" step="0.01"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Our price of the product</span>
						</div>
					</div>

					<!-- status of product -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								checked="checked" /> Enabled </label> <label><input
								value="false" type="radio" name="active" />
								Disabled </label> <span class="help-block">Whether the product is
								active or inactive</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Description</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${product.description}"
								placeholder="Description" />
							<span class="help-block">Description of the product</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="productImage">Upload product image</label>
						</div>
						<div class="col-md-8">
							<input id="productImage" type="file" name="productImage"
								th:value="${product.productImage}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Add product</button>
							<a class="btn btn-danger" th:href="@{/}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header2 :: body-bottom-scripts" />
</body>
</html>
