
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header2 :: common-header" />

<body>
	<div th:replace="common/header2 :: navbar" />
	
	<div class="container-fluid">
		<div class="table-responsive">
			<table id="userListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllUsers" type="checkbox" /></th>
						<th>username</th>
						<th>id</th>
						<th>password</th>
						<th>first_name</th>
						<th>last_name</th>
						<th>phone</th>
						<th>email</th>
						<th>enabled</th>
						</tr>
				</thead>
				
				<tbody>
					<tr data-th-each="user : ${memberList}">
						<td>
						<input hidden="hidden" name="id" th:value="${user.id}" />
						<input th:id="'selected'+${user.id}" class="checkboxBook" type="checkbox" />
						</td>
						<td><a th:href="@{/member/memberInfo(id=${user.id})}"><span th:text="${user.username}"></span></a></td>
						<td th:text="${user.id}"></td>
						
						<td th:text="${user.password}"></td>
						<td th:text="${user.firstName}"></td>
						
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.phone}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.enabled}"></td>
						
					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<div th:replace="common/header2 :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#userListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
