
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header2 :: common-header" />

<body>
	<div th:replace="common/header2 :: navbar" ></div>
<div class="container" id="deleteAfter" >
  <div class="jumbotron">
        
    <p>To see the customer orders please select the starting and ending date of the search</p>
  						
  </div>
     
</div>
	
	
	<div class="container" id="all">
		<div class="table-responsive">
			<table id="clientListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Status</th>
						<th>Id</th>
						<th>submittedDate</th>
						<th>shippingDate</th>
						<th>shippingMethod</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="client : ${clientOrderList}">
						<td th:text="${client.orderStatus}"></td>
						<td th:text="${client.id}"></td>
						<td th:text="${client.submittedDate}"></td>
						<td th:text="${client.shippingDate}"></td>
						<td th:text="${client.shippingMethod}"></td>
						<td th:text="${client.Total}"></td>
						
						
						
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>



		<div class="row">
			<form class="form-horizontal" th:action="@{/sale/search}" method="post"
				enctype="multipart/form-data">
				<fieldset>					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">start date</label>

						<div class="col-md-8">
							<input type="date" name="fromDate" class="form-control" id="fromDate"
								th:value="${fromDate}"  placeholder="fromDate" />
							<span class="help-block">when to start searching</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="title">end date</label>

						<div class="col-md-8">
							<input type="date" name="toDate" class="form-control" id="toDate"
								th:value="${toDate}"  placeholder="toDate" />
							<span class="help-block">end of search</span>
						</div>
					</div>




					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">search</button>
							<a class="btn btn-danger" th:href="@{/member/memberList}">Cancel</a>
						</div>
						
					</div>
				</fieldset>
			</form>
		</div>
<!-- 	<button type="button" id="bt1" class="btn btn-info">next</button>
 -->
 		<div class="container" id="seeDiagramms">
  <div class="jumbotron">
        
    <p>if you want to see the results in diagramms navigate with the buttons bellow</p>
  			<div class="col-md-2"></div>
						<div class="col-md-2">
							<button type="button" id="btn2" class="btn btn-danger">previous diagramm</button>
						</div>
						<div class="col-md-2">
							<button type="button" id="btn1" class="btn btn-success">next diagramm</button>
						</div>
			
  </div>
     
</div>
 			<div class="row">
						
					</div>
	
<!--  <button id="btn1">Append text</button><button id="btn2">Previous text</button> -->
<div id="uu">
<div id="div1"></div>
</div>
<div class="col-md-8">
							
						</div>

	
	
	<div th:replace="common/header2 :: body-bottom-scripts" ></div>
	
	<script th:inline="javascript">
	

	 $(document).ready(function(){    
		 var table= $('#clientListTable').DataTable({
			   "lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
		       
		    });
		 var datsez =[];
		 var z=[];
		 var h=0; 
		 var myStringArray = [[${clientOrderList}]];
		 var arrayLength = myStringArray.length;
		 var dats =[];
		 var dats2 =[];
		 var dats3 =[];
		 var dats4 =[];
		 var dats5 =[];
		 var k=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
		var p=[];
		 dats5=[];
			var k;
			var step =-1;
			var numberOfSteps=parseInt(arrayLength/20);
			var currentStep=0;
			var remainder= arrayLength % 20;
			
			if(remainder > 0){
				numberOfSteps++;
			}

			console.log(remainder);
			 
			 console.log(numberOfSteps);
		/* 	for ( var i in k) {
					 h++;
					 z=[h,h];
					 //console.log(i);
					// console.log(z);
					 //p=[myStringArray[i].submittedDate.substring(0, 10),myStringArray[i].total]
					//p=[myStringArray[i].submittedDate,myStringArray[i].total]
					  
						  dats5.push(z);	
			    
			} */
			if(arrayLength == 0){
					 $("#all").remove();
					 $("#seeDiagramms").remove();
					 
				 }
				 var stepArray=[];//new Array(numberOfSteps);
				 var stepValues=new Array(numberOfSteps);
				 stepValues.fill(0);
				//	 stepArray.fill(0);
			 // createVariables(4,stepArray);
				 console.log(stepArray.length);
			//	 alert(stepArray);
			var t=0;
			var stepsArray2=0;
			
			var  katikalo=[];
			
						
				//  alert( katikalo.value);
				 
					
		 // alert(myStringArray.length);
		 if(arrayLength > 0){
			 $("#deleteAfter").remove();
			 for (var i in myStringArray) {
				// console.log(i);
			  //   alert(myStringArray[1][i]);
		//	dats.push(myStringArray[i].total);
 	 //		dats2.push(myStringArray[i].submittedDate);
		p=[myStringArray[i].submittedDate.substring(0, 10),myStringArray[i].total]
		//p=[myStringArray[i].submittedDate,myStringArray[i].total]
		 dats.push(p);	
		 
		
			 		
		
	
	}
			 var narr=0;
			 for ( var iii in  stepValues) {
				 stepArray[narr]=[];
					for (var ii in k) {
							  //katikalo[t]=["20*t"]
							  //[t]=20*t;
							 //
						//	 alert(t);
						//	 alert(dats[t]);
							 if(dats[t]==null){
								 
								 
							 }
							 else{
							stepArray[narr][stepsArray2]=dats[t] ;
							 }
							// alert(t);
							// katikalo.push("20");
							  t++;
							  stepsArray2++;
						  }
					stepsArray2=0;
					narr++;		
			 }  
			 
			 
			 //alert(stepArray[0]);
			 
			 
			 
	$("#btn1").click(function(){
			      //  $("#div1").remove();
				//	alert(step);
		if(numberOfSteps -1 > step)
			{
			
			step++;
		
			}
			//   $("#uu").append("<div id='div1'>mlasdknasd</div>");
			//$("#div1").append("<div id='div1'>mlasdknasd</div>");
							
				myFunction(stepArray[step]);
					
					
					
					
			    });
			 
			 
	 
	$("#btn2").click(function(){
			      //  $("#div1").remove();
					
		if(step > 0)
			{
			
			step--;
		
			}
		else{
			step=0;
		}
			//   $("#uu").append("<div id='div1'>mlasdknasd</div>");
			//$("#div1").append("<div id='div1'>mlasdknasd</div>");
							
				myFunction(stepArray[step]);
					
					
					
					
			    });		 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
/* 
Highcharts.chart('container2', {
	    chart: {
	        type: 'column'
	    },
	    title: {
	        text: 'sales'
	    },
	    xAxis: {
	        type: 'category',
	        labels: {
	            rotation: -45,
	            style: {
	                fontSize: '13px',
	                fontFamily: 'Verdana, sans-serif'
	            }
	        }
	    },
	    yAxis: {
	        min: 0,
	        title: {
	            text: 'cost (euro)'
	        }
	    },
	    legend: {
	        enabled: false
	    },
	    tooltip: {
	        pointFormat: 'sale: <b>{point.y:.4f} euro</b>'
	    },
	    series: [{
	        name: 'sales',
	        data: dats3,
	        dataLabels: {
	            enabled: true,
	            rotation: -90,
	            color: '#FFFFFF',
	            align: 'right',
	            format: '{point.y:.2f}', // one decimal
	            y: 10, // 10 pixels down from the top
	            style: {
	                fontSize: '13px',
	                fontFamily: 'Verdana, sans-serif'
	            }
	        }
	    }]
	});
		if(arrayLength > 30){

Highcharts.chart('container3', {
	    chart: {
	        type: 'column'
	    },
	    title: {
	        text: 'sales'
	    },
	    xAxis: {
	        type: 'category',
	        labels: {
	            rotation: -45,
	            style: {
	                fontSize: '13px',
	                fontFamily: 'Verdana, sans-serif'
	            }
	        }
	    },
	    yAxis: {
	        min: 0,
	        title: {
	            text: 'cost (euro)'
	        }
	    },
	    legend: {
	        enabled: false
	    },
	    tooltip: {
	        pointFormat: 'sale: <b>{point.y:.4f} euro</b>'
	    },
	    series: [{
	        name: 'sales',
	        data: dats4,
	        dataLabels: {
	            enabled: true,
	            rotation: -90,
	            color: '#FFFFFF',
	            align: 'right',
	            format: '{point.y:.2f}', // one decimal
	            y: 10, // 10 pixels down from the top
	            style: {
	                fontSize: '13px',
	                fontFamily: 'Verdana, sans-serif'
	            }
	        }
	    }]
	});

		}
		if(arrayLength > 60){

			Highcharts.chart('container4', {
				    chart: {
				        type: 'column'
				    },
				    title: {
				        text: 'sales'
				    },
				    xAxis: {
				        type: 'category',
				        labels: {
				            rotation: -45,
				            style: {
				                fontSize: '13px',
				                fontFamily: 'Verdana, sans-serif'
				            }
				        }
				    },
				    yAxis: {
				        min: 0,
				        title: {
				            text: 'cost (euro)'
				        }
				    },
				    legend: {
				        enabled: false
				    },
				    tooltip: {
				        pointFormat: 'sale: <b>{point.y:.4f} euro</b>'
				    },
				    series: [{
				        name: 'sales',
				        data: dats5,
				        dataLabels: {
				            enabled: true,
				            rotation: -90,
				            color: '#FFFFFF',
				            align: 'right',
				            format: '{point.y:.2f}', // one decimal
				            y: 10, // 10 pixels down from the top
				            style: {
				                fontSize: '13px',
				                fontFamily: 'Verdana, sans-serif'
				            }
				        }
				    }]
				});

					}

 */

		 }
});
	
	 function createVariables(ex,stepArray) {
		// stepArray=[];
		 /*<![CDATA[*/
			 
		 for (i = 0; i < ex; i++) { 
			   stepArray[i]
			}
		 /*]]>*/

		 
	 }
	 function myFunction(dats3) {
			Highcharts.chart('div1', {
			    chart: {
			        type: 'column'
			    },
			    title: {
			        text: 'Sales'
			    },
			    
			    xAxis: {
			        type: 'category',
			        labels: {
			            rotation: -45,
			            style: {
			                fontSize: '13px',
			                fontFamily: 'Verdana, sans-serif'
			            }
			        }
			    },
			    yAxis: {
			        min: 0,
			        title: {
			            text: 'sales (euro)'
			        }
			    },
			    legend: {
			        enabled: false
			    },
			    tooltip: {
			        pointFormat: 'Sales per day'
			    },
			    series: [{
			        name: 'salesn',
			        data: dats3
			        ,
			        dataLabels: {
			            enabled: true,
			            rotation: -90,
			            color: '#FFFFFF',
			            align: 'right',
			            format: '{point.y:.2f}', // one decimal
			            y: 10, // 10 pixels down from the top
			            style: {
			                fontSize: '13px',
			                fontFamily: 'Verdana, sans-serif'
			            }
			        }
			    }]
			});
		}
	</script>
	
	<div id="container2"></div>
	<div id="container3"></div>
	<div id="container4"></div>
</body>
</html>
