
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header2 :: common-header" />

<body>
	<div th:replace="common/header2 :: navbar" />
	
	<div class="container-fluid">
		<div class="table-responsive">
			<table id="productListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Select all <input th:id="selectAllProducts" type="checkbox" /></th>
						<th>id</th>
						<th>Date</th>
						<th>Total</th>
						<th>status</th>
					</tr>
				</thead>
				<tbody>
				<tr data-th-each="product : ${clientOrderList}">
						<td>
						<input hidden="hidden" name="id" th:value="${product.id}" />
						<input th:id="'selected'+${product.id}" class="checkboxproduct" type="checkbox" />
						</td>
						<td th:text="${product.id}"></td>
						<td th:text="${product.submittedDate}"></td>
						<td th:text="${product.total}"></td>
						<td th:text="${product.orderStatus}"></td>
						
						
					</tr>
				</tbody>
			</table>
	</div>
	<button th:id="shareSel" class="btn btn-danger ">share the selected</button>
	</div>
	
	<div th:replace="common/header2 :: body-bottom-scripts"></div> 
	
	<script>
	
		/* $(document).ready(function() {
			
			$("#productListTable").DataTable({
				
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
				
			});
		});
	 */
		
	 $(document).ready(function(){    
		   var table= $('#productListTable').DataTable({
			   "lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
		       
		    });
		   $('#search2').on( 'keyup', function () {
			    table
			        .columns( 1 )
			        .search( this.value )
			        .draw();
			} );
		    
		   
		    
		    
		    
		    
		    
		});
		
		
		</script>
	
</body>
</html>
