
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header2 :: common-header" />

<body>
	<div th:replace="common/header2 :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/product/updateProduct}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Update Product Information<span style="font-size: small"> * is a
							required field</span>
					</legend>
					
					<input hidden="hidden" name="id" th:value="${product.id}" />


					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="name">*Name</label>

						<div class="col-md-8">
							<input type="text" name="name" class="form-control" id="title"
								th:value="${product.name}" required="required" placeholder="name" />
							<span class="help-block">Name</span>
						</div>
					</div>

					<!-- author -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="madeIn">*
							Made in</label>
						<div class="col-md-8">
							<input type="text" name="madeIn" class="form-control" id="madeIn"
								th:value="${product.madeIn}" required="required"
								placeholder="Made In" /> <span class="help-block">made in</span>
						</div>
					</div>
	
					<div class="col-md-8">
							<input type="number" name="listPrice" class="form-control"
								id="listPrice" th:value="${product.listPrice}"
								placeholder="listPrice" /> <span class="help-block">listPrice</span>
						</div>



					<div class="col-md-8">
							<input type="number" name="priceBought" class="form-control"
								id="priceBought" th:value="${product.priceBought}"
								placeholder="priceBought" /> <span class="help-block">priceBought</span>
						</div>


					<div class="col-md-8">
							<input type="number" name="ourPrice" class="form-control"
								id="ourPrice" th:value="${product.ourPrice}"
								placeholder="ourPrice" /> <span class="help-block">ourPrice</span>
						</div>



				<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="active"
								th:checked="${product.active}" /> Active </label> <label><input
								value="false" type="radio" name="active" th:checked="${!product.active}"/>
								Inactive </label> <span class="help-block">Whether the product is
								active or inactive</span>
						</div>
					</div>




					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Update Product</button>
							<a class="btn btn-danger" th:href="@{/product/productInfo(id=${product.id})}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header2 :: body-bottom-scripts" />
</body>
</html>
